@import 'all.scss';
// @import 'buttons.scss';
// @import 'themes.scss';

.centered-container {
    background: $whitesmoke;
    padding: 5rem 10rem;
    border-radius: .250rem;
    border: 1px solid rgba($black, .1);
    display: flex;
    flex-direction: column;

}

.btn {
	background-color: $brown-orange;
	border-color: $brown-orange;
	width: 45%;
	padding: 0.5rem 1rem;

	&:before {
		background-color: $white;
		content: "";
		display: flex;
		transform: scale(1, 0);
		transition: transform .25s ease;
		transform-origin: 50% 100%;
		position: absolute;
		overflow: hidden;
		border-radius: 1px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
	}

	span {
		display: flex;
		position: relative;
		z-index: 1;
		font-size: 1.5rem;
	}

	&.validate {
		margin-left: 5%;
		&:hover,
		&:active {
			color: $sem-black;
	
			&:before {
				transform: scale(1, 1);
			}
		}
	}

	&.cancel {
		margin-right: 5%;
	}
	
	&:hover,
	&:active {
		color: $sem-black;

		&:before {
			transform: scale(1, 1);
		}
	}
}
