@import 'all.scss';
@import 'buttons.scss';
@import 'themes.scss';

.centered-container {
    background: $whitesmoke;
    padding: 5rem 10rem;
    border-radius: .250rem;
    border: 1px solid rgba($black, .1);
    display: flex;
    flex-direction: column;

}

.btn {
	background-color: $brown-orange;
	border-color: $brown-orange;
	width: 45%;
	padding: 0.5rem 1rem;

	&.validate {
		margin-left: 5%;
	}

	&.cancel {
		margin-right: 5%;
	}
	
	&:hover,
	&:active {
		color: $sem-black;
	}
}
