@import 'all.scss';
@import 'buttons.scss';
@import 'themes.scss';

.centered-container {
    background: $whitesmoke;
    padding: 5rem 10rem;
    border-radius: .250rem;
    border: 1px solid rgba($black, .1);
    box-shadow: 0 .125rem .25rem rgba($black, .04);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;

    &.dark {
        background: $black;
    }
}